body {
    background-color: black;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Shadows Into Light, sans-serif;
}

h1 {
    color: whitesmoke;
    font-size: 4rem;
    margin-top: 25%;
    letter-spacing: 2px;
    padding-bottom: 3%;
    padding-left: 3%;
    padding-right: 3%;
}

h2 {
   font-size: 125%;
   color: whitesmoke;
   padding-top: 2%;
   padding-bottom: 4%;
   padding-left: 4%;
   padding-right: 4%;
   letter-spacing: 0.5px;
   text-align: center;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.play-btn {
    font-size: 150%;
    padding: 0.5%;
    width: 10rem;
    text-align: center;
    letter-spacing: 3px;
    margin-bottom: 1rem;
    text-decoration: none;
    border: black;
    color: black;
    background:  #e29cd2;
    box-shadow: 0 0 10px 2px rgb(226, 156, 210);
}

.play-btn:hover {
    background-color: paleturquoise; 
    box-shadow: 0 0 10px 2px rgb(175, 238, 238);  
    transform: scale(1.05);
}

.play-btn:focus {
    background-color: lightskyblue;
    box-shadow: 0 0 10px 2px rgb(135, 206, 250);
}
